@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-checkbox:checked {
    @apply bg-primary ring-primary;
  }
}

/* Scrollbar overall */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background-color: #181818; /* Background color of the track */
  border-radius: 100px; /* Round corners of the track */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #eb175c; /* Color of the scrollbar thumb */
  border-radius: 100px; /* Round corners of the thumb */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #eb175c #181818;
}
