@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* For webkit-based browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* The background color of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #eb175c; /* Indigo-600 color */
  border-radius: 60px;
  border: 2px solid transparent; /* To add some padding between the scrollbar and the edge */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-color: #eb175c transparent; /* Thumb color, Track color */
  border-radius: 60px;
  scrollbar-width: thin; /* Width of the scrollbar */
}
